<!DOCTYPE html>
<html>
  <head>
    <title>Sucesso</title>
    <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    
  </head>
  <body>
    <div class="success-message">
        <button class="success-button">X</button>
        <div class="clear"></div>
        <span>Os dados foram obtidos com sucesso.</span>
    </div>
    <div class="container">
      <h1>Encontrei:</h1>
      <div class="list-content">
            <% for(let i=0;i<data.length;i++) { %>
                <div style="margin-bottom:50px;border:1px solid black;padding:15px;">     
                  <div><%= data[i].title %></div>
                  <div><%= data[i].author %></div>
                  <div><%= data[i].description %></div>
                  <div><%= data[i].subject %></div> 
                  <div><b><%= data[i].date %></b></div>
                  <div><%= data[i].language %></div>                  
                </div>
            <% } %>
        <i class="fa fa-refresh fa-spin spinner" id="spinner"></i>
      </div>

      <button onclick="window.location='/'">Voltar</button>
    </div>
  </body>
</html>
